.input_chat{
    position: fixed;
    bottom: 0px;
    display: flex;
    left: 28%;
    background: #363740;
}

.input_chat input{
    width: 600px;
    position: relative;
    height: 3rem;
    background: rgb(67, 70, 90);
    border: none;
    outline: none;
}

.input_chat input::placeholder{
    color: white;
    font-size: 0.9rem;
}

.input_chat .send{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding-left: 1.2rem;
}

.input_chat .send button{
    height: 100%;
    border: none;
    background: none;
}

.send>*{
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 1225px) {
    .input_chat{
        transform: scale(0.73);
        left: 24%
    }
}


@media (max-width: 1025px) {
    .input_chat{
        right: 10px;
    }
}

/* @media (max-width: 800px) {
    .input_chat{
        right: 0;
        transform: scale(1) translate(-30%);
        position: fixed;
        bottom: 0;
        background: #363740;
        padding: 6px 0 2px 20px;
        width: 85%;
    }

    .input_chat .send{
        gap: 0rem;
        font-size: 0.6rem;
        padding-left: 0.4rem;
        padding-right: -15px;
    }
} */

@media (max-width: 460px) {
    .input_chat{
        padding: 10px 5px;
        width: 100%;
        padding-left: 20px;
        justify-content: center;
        transform: scale(1) translate(0%);
        right: 0;
        left: 0;
    }

    .input_chat .send{
        padding-left: 10px;
        padding-right: -1px;
        gap: 0;
    }

    .input_chat .send button{
        margin-left: -10%;
    }
}