@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { 
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -ms-box-sizing:border-box; 
  -o-box-sizing:border-box; 
  box-sizing:border-box; 
}

html { 
  width: 100%; 
  height:100%; 
  overflow:hidden;
  font-family: 'Open Sans', sans-serif;
	background: #092756;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
